/*------------------------------*\
     $BUTOMS
\*------------------------------*/

.btn {
	paddin: $large-padding;
	position: relative;
	color: $color-black!important;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-sizing: border-box;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0px;
		height: 40%;
		z-index: -1;
		background-color: $color-light-blue;
		transition: all 0.15s ease-out;
	}
	&:hover::before {
		height: 150%;
	}
}