/*------------------------------*\
     $GRIDS
\*------------------------------*/
.grid {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}

.grid-main-area {
	display: grid;
	grid-template-columns: repeat(9,1fr);
	margin-top: $big-margin-top;
	margin-bottom: $big-margin-top; 
	grid-template-areas:
	"title title title title title title title title title"
	"image image image image image image image image image";
	.text {
		grid-area: title;
		@extend %main-text;
	}

	.image {
		grid-area: image;
	}
}

.container {
	grid-column: span 12;
	padding: $big-padding;
}

