/*------------------------------*\
     $UTILITIES
\*------------------------------*/

@media (min-width: 960px){
	.container {
		grid-column: 2 / 12;
	}
	
	.grid-main-area {
	display: grid;
	grid-template-columns: repeat(9,1fr);
	grid-template-areas:
	"title title title image image image image image image";
	}
	
	.slider {
		align-items: center;
		header{
			transform: translatex(100px);
			width: 100%;
			min-height: 350px;
		}
	}

	.social{
		a{
			display: inline-block;
			margin-top: 0;
			margin-right: 90px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

