/*------------------------------*\
     $MIXINS
\*------------------------------*/

@mixin full {
	width: 100%;
	height: 100%;
}

@mixin text-center {
	text-align: center;
}

@mixin text-right {
	text-align: right;
}

@mixin center-vertical-horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin absolute-cover {
	@include full;
	
	left: 0px;
	right: 0px;
}

%caption {
	padding: $large-padding;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2em;
	position: absolute;
	letter-spacing: 5px;
	width: auto;
	top: 0px;
	left: 10px;
	z-index: 10;
	@include text-center;
	color: rgba($color-grey, 0.5);
}

%main-text {
	font-weight: 200;
	font-size: 1.2em;
	line-height: 1.5em;
	h1,h2{
		font-weight: inherit;
		font-size: $big;
		letter-spacing: 0.3em;
		line-height: 1.5em;
	}
}

%transition {
	transition: all 0.6s ease-out;
}
