/*------------------------------*\
     $COLORS
\*------------------------------*/


//Branding Colors (colores de la marca)


$color-red: #fc4349;
$color-grey: #d7dadb;

$color-blue: #2c3e50;
$color-light-blue: #6dbcdb;
$color-rose: #b76e79;
$color-white: #fff;
$color-black: #000;

// Fonts
$small: 16px;
$medium: 20px;
$big: 36px;

//Constantes
$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top:90px;

$border-radius: 4px;










// escala con funciones

//$color-grey: #737373;
//$color-lightgrey: lighten($color-grey, 25%)  lo aclara un 25%
//%color-darkgrey: darken($color-grey, 25%)    lo oscurece un 25%

//Alert Colors
$color-alert: rgb(252, 228, 207);
$color-error: rgb(218, 79, 73);
$color-info: rgb(66, 184, 221); 
$color-success: rgb(91, 183, 91);



//Butons

