/*------------------------------*\
			$LAYOUT
\*------------------------------*/
html, body {
	margin: 0;
}

figure {
	position: relative;
	max-height: 100%;
	margin: 0px;
	margin-left: 20px;	
	figcaption {
		@extend %caption;
	}
	img {

	}
}

.cover {
	@include absolute-cover;
	min-height: 500px;
	background: $color-red;
	background-size: cover;
	background-position: center;

	&.parallax{
		background-attachment: fixed;
		background-image: url(../../public/images/2.jpg);
		position: relative;
		p{
			@extend %caption;
			background-color: rgba($color-blue,0.8);
			display: block;
			width: 100%;
			box-sizing: border-box;  //esto quita el padding al 100 del width
			left: 0;
			@include text-right;
			span {
				display: block;
				font-size: 0.5em;
				font-weight: 200;
				margin-top: 6px;
			}
		}
	}
}

.full-height {
	min-height: 100vh;
}

.controls{
	& img{ 
		max-width: 30%;
	}
}

.slider {
	.controls{
		text-align: right;
		margin-bottom: 10px;
		padding-right: 2em;
		.right-arrow,.left-arrow{
			@extend %transition;
			transition-duration: 0.15s;
			cursor: pointer;
			&:hover{
				opacity: 0.2;
			}
		}
		.left-arrow{
			margin-right: 1.5em;
			transform: rotate(180deg);
		}
	}
	.image{
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
	header {
		background-color: $color-blue;
		color:$color-white;
		padding: $big-padding;
		transform: translatey(40px);
		width: 90%;
		box-sizing: border-box;
		margin:0 auto;
		z-index: 10;
		position: relative;
		h2 {
			margin: 0;
		}
		.separator{
			text-align: right;
			padding-right: 150px;
			position: relative;
			color: $color-white;
			&::after{
				position: absolute;
				content: '';
				height: 3px; 
				width: 140px;
				background-color: currentColor;
				top: 0.7em;
				right: 0;
			}
		}
	}
}

#slider-text-content {
	@extend %transition;
	&.hide {
		opacity: 0;
		transform: translateX(200px);
	}
}

#slider-image {
	@extend %transition;
	&.hide {
		opacity: 0;
	}
}

.mission{
	aling-items: center;
	.container{
		@extend %main-text;
		font-size: 1.1em;
	}
	figure {
		float: right;
		margin-left: 20px;
	}
}

.social {
	margin-bottom: $big-margin-top;
	@include text-center;
	p.titulo{
		font-weight: 200;
		font-size: 2.5em;
	}
	a {
		display:block;
		max-width: 150px;
		margin: 1em auto;
	}
}