@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
/*------------------------------*\
     $COLORS
\*------------------------------*/
/*------------------------------*\
     $MIXINS
\*------------------------------*/
figure figcaption, .cover.parallax p {
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  letter-spacing: 5px;
  width: auto;
  top: 0px;
  left: 10px;
  z-index: 10;
  text-align: center;
  color: rgba(215, 218, 219, 0.5); }

.grid-main-area .text, .mission .container {
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.5em; }
  .grid-main-area .text h1, .mission .container h1, .grid-main-area .text h2, .mission .container h2 {
    font-weight: inherit;
    font-size: 36px;
    letter-spacing: 0.3em;
    line-height: 1.5em; }

/*------------------------------*\
     $TABLAS
\*------------------------------*/
/*------------------------------*\
     $BUTOMS
\*------------------------------*/
.btn {
  paddin: 10px 15px;
  position: relative;
  color: #000 !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .btn:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    height: 40%;
    z-index: -1;
    background-color: #6dbcdb;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out; }
  .btn:hover::before {
    height: 150%; }

/*------------------------------*\
     $LINKS
\*------------------------------*/
/*------------------------------*\
 			$TIPOGRAFIA 
\*------------------------------*/
body {
  font-family: 'Source Sans Pro', sans-serif; }

/*------------------------------*\
     $IMAGES
\*------------------------------*/
img {
  max-width: 100%; }

/*------------------------------*\
     $GRIDS
\*------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.grid-main-area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 90px;
  margin-bottom: 90px;
  grid-template-areas: "title title title title title title title title title" "image image image image image image image image image"; }
  .grid-main-area .text {
    grid-area: title; }
  .grid-main-area .image {
    grid-area: image; }

.container {
  grid-column: span 12;
  padding: 20px 30px; }

/*------------------------------*\
			$LAYOUT
\*------------------------------*/
html, body {
  margin: 0; }

figure {
  position: relative;
  max-height: 100%;
  margin: 0px;
  margin-left: 20px; }

.cover {
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  min-height: 500px;
  background: #fc4349;
  background-size: cover;
  background-position: center; }
  .cover.parallax {
    background-attachment: fixed;
    background-image: url(../../public/images/2.jpg);
    position: relative; }
    .cover.parallax p {
      background-color: rgba(44, 62, 80, 0.8);
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      left: 0;
      text-align: right; }
      .cover.parallax p span {
        display: block;
        font-size: 0.5em;
        font-weight: 200;
        margin-top: 6px; }

.full-height {
  min-height: 100vh; }

.slider header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 30px;
  -webkit-transform: translatey(40px);
  -ms-transform: translatey(40px);
  transform: translatey(40px);
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }
  .slider header h2 {
    margin: 0; }
  .slider header .separator {
    text-align: right;
    padding-right: 150px;
    position: relative;
    color: #fff; }
    .slider header .separator::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 140px;
      background-color: currentColor;
      top: 0.7em;
      right: 0; }

.mission {
  aling-items: center; }
  .mission .container {
    font-size: 1.1em; }
  .mission figure {
    float: right;
    margin-left: 20px; }

.social {
  margin-bottom: 90px;
  text-align: center; }
  .social p.titulo {
    font-weight: 200;
    font-size: 2.5em; }
  .social a {
    display: block;
    max-width: 150px;
    margin: 1em auto; }

/*------------------------------*\
     $UTILITIES
\*------------------------------*/
@media (min-width: 960px) {
  .container {
    grid-column: 2 / 12; }
  .grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "title title title image image image image image image"; }
  .slider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .slider header {
      -webkit-transform: translatex(100px);
      -ms-transform: translatex(100px);
      transform: translatex(100px);
      width: 100%;
      min-height: 350px; }
  .social a {
    display: inline-block;
    margin-top: 0;
    margin-right: 90px; }
    .social a:last-of-type {
      margin-right: 0; } }
